@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* Layout */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

/* Default */
.blind {
  display: block;
  width: 1px;
  text-indent: -9999px;
  overflow: hidden;
}

.logo {
  width: 170px;
  height: 60px;
}

.logo__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo__img {
  width: 100%;
}

.logo__img:last-of-type {
  opacity: 0;
  visibility: hidden;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-header__inner {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 80px;
  margin-top: 10px;
}

.main-header .logo {
  margin-right: 180px;
}

.main-header__intro-text {
  color: #fff;
  text-transform: uppercase;
}

.main-header__btn-menu--open {
  margin-left: auto;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.main-header__btn-menu--open span {
  display: inline-block;
  margin-top: -5px;
  margin-left: 15px;
  font-size: 33px;
  vertical-align: middle;
}

/* Visual */
.visual {

}

.slide__item {
  background-color: #222;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.slide__text-box {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  font-size: 18px;
  transform: translateY(-50%);
}

.slide__title {
  margin: 28px 0;
  font-size: 63px;
}

.slide__link {
  
}

.slide__link span {
  font-size: 14px;
  margin-left: 5px;
}

.slide__scroll {
  position: absolute;
  left: 50px;
  bottom: 10%;
  color: #ccc;
  font-weight: bold;
  transform: rotate(-90deg);
}

/* Contents */
.contents {
  background-color: #1b1b1b;
  padding: 120px 0;
  overflow: hidden;
}

/* Contents - introduce */
.introduce {
  position: relative;
  display: flex;
}

.contents__introduce {
  width: 1170px;
  padding-bottom: 60px;
  margin: 0 auto;
  color: #fff;
}

.contents__introduce::before {
  content: "";
  position: absolute;
  left: 50px;
  top: 130px;
  background-color: #ffec03;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contents__introduce::after {
  content: '”';
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 300px;
}

.introduce__title {
  width: 30%;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.introduce__desc {
  width: 70%;
  font-size: 24px;
  line-height: 1.4;
}

.introduce__company {
  display: block;
  margin-top: 60px;
  color: #999;
  font-size: 18px;
}

/* Contents - projects */
.contents__projects {
  color: #fff;
}

.projects__top {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 90px;
  margin: 130px auto 60px;
}

.projects__title {
  font-size: 35px;
  line-height: 1.3;
}

.projects__link-more {
  font-size: 18px;
}

.projects__link-more span {
  margin-left: 5px;
  font-size: 14px;
}

.projects__list {
  display: flex;
  width: 98%;
  margin: 0 auto;
}

.projects__list-item {
  margin-right: 1%;
}

.projects__list-item:last-of-type {
  margin-right: 0;
}

.projects__link-work {
  position: relative;
  display: block;
  overflow: hidden;
}

.projects__img {
  width: 100%;
  transition: 1s;
}

.projects__link-work:hover img {
  transform: scale(1.1);
}

.projects__info {
  background-color: #1b1b1b;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 270px;
  padding: 15px;
  text-align: right;
}

.projects__category {
  display: block;
  font-size: 15px;
}

.projects__name {
  font-size: 20px;
  text-transform: uppercase;
}