@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* Layout */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

/* Default */
.blind {
  display: block;
  width: 1px;
  text-indent: -9999px;
  overflow: hidden;
}

.logo {
  width: 170px;
  height: 60px;
}

.logo__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo__img {
  width: 100%;
}

.logo__img:last-of-type {
  opacity: 0;
  visibility: hidden;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-header__inner {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 80px;
  margin-top: 10px;
}

.main-header .logo {
  margin-right: 180px;
}

.main-header__intro-text {
  color: #fff;
  text-transform: uppercase;
}

.main-header__btn-menu--open {
  margin-left: auto;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.main-header__btn-menu--open span {
  display: inline-block;
  margin-top: -5px;
  margin-left: 15px;
  font-size: 33px;
  vertical-align: middle;
}

/* Visual */
.visual {

}

.slide__item {
  background-color: #222;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.slide__text-box {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  font-size: 18px;
  transform: translateY(-50%);
}

.slide__title {
  margin: 28px 0;
  font-size: 63px;
}

.slide__link {
  
}

.slide__link span {
  font-size: 14px;
  margin-left: 5px;
}

.slide__scroll {
  position: absolute;
  left: 50px;
  bottom: 10%;
  color: #ccc;
  font-weight: bold;
  transform: rotate(-90deg);
}